body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  height : 46rem;
  width:100vw;
}

.mountain{
  width: 500px;
  margin-top:110px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.pro {
  text-decoration: underline;
}


.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

/* 
.mountain {
  overflow-clip-margin: content-box;
  overflow: clip;
} */



/* Mid part */

.mid-container {
  margin: 100px 0;
}

.profile-pic {
  height: 150px;
  border-radius: 50%;

}

hr {
  border: dotted grey 6px;
  width: 4%;
  border-bottom: none;
  margin: 100px auto;
}

.parent {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  width: 50%;
  text-align: left;
  row-gap: 2rem;
  column-gap: 1.5rem;
  margin: 100px auto 0 auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}


/* footer */
.bottom-container {
  padding: 50px 0 20px;

  background-color: #66bfbf;
}

a {
  color: #eaf6f6;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #40514e;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}








/* Contact CSS */


.top-container-Contact {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  height: 100vh;
}

h3 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}

input {
  width: 23rem;
  padding: 5px 20px;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-radius: 15px;
}
